
.grid-container {
    display: grid;
    grid-template-columns: 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw;
    grid-template-rows: 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw;
    padding: 5px;
    justify-items: center;
    margin: auto;
}
.login {
    grid-column-start: 8;
    grid-row-start: 1;
    background-color: yellowgreen;
    margin: auto;
    font: 26px arial, sans-serif;
    border-style: double;
    border-width: 2px;
    border-color: black;
}
.header {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 1;
    grid-row-end: 1;
    font: arial, sans-serif;
}
.header_h1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 1;
    font: 32px arial, sans-serif;
    display: inline;
    background-color: yellowgreen;
    margin: auto;
}

ul {
    margin: auto;
    padding: 20px;
    font: 18px arial, sans-serif;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 8;
    list-style-type: none;
    list-style-position:inside;
}

li {
    float: left;
    
}

    li a {
        display: inline;
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        justify-items: center;
        margin: auto;
        background-color: powderblue;
        border-style:solid;
            border-color:white;
    }

.aside {
    grid-column-start: 6;
    font: arial, sans-serif;
    grid-row-start: 2;
    margin: auto;
    padding: 24px;
    width: 24vw;
    text-align: center;
    border-style: double;
    border-width: 2px;
    border-color: black;
    
}


.container {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    font: arial, sans-serif;
    margin: auto;
    text-align: left;
}
.test1 {
    font: arial, sans-serif;
}
.test2 {
    font: arial, sans-serif;
}
.footer {
    width: 100vw;
    background-color: powderblue;
    text-align: center;
    margin: auto;
    display: grid;
    grid-row-start: 8;
    font: arial, sans-serif;
}
.formcontainer {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row: 3;
    justify-content: center;
    padding: 50px;
    border: 2px solid red;
    
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.header_b {
    grid-column-start: 1;
    
    grid-row: 1;
    font: 26px arial, sans-serif;
    display: inline;
    background-color: yellowgreen;
    margin: auto;
}
input[type=submit] {
    border: 2px solid red;
}

input[type=reset] {
    border: 2px solid blue;
}
.header_form {
    position:absolute;
    top:265px;
    left:300px;
    width:44vw;
   
    justify-content:center;
    margin:auto;
    
    text-transform: uppercase;
}